.floatingContainer{
    position: fixed;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
    margin: 35px 35px;
}

.floatingContainer:hover{
    height: 300px;
}

.floatingContainer:hover .floatingButton{
    box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
    transform: translateY(-5px);
    transition: all 0.3s;
}

.floatingButton{
    position: absolute;
    width: 65px;
    height: 65px;
    background-color: #2cb3f0;
    top: 0;
    border-radius: 50%;
    left: 0;
    right: 0;
    color: white;
    line-height: 65px;
    text-align: center;
    font-size: 23px;
    z-index: 100;
    box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
    cursor: pointer;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.elementContainer{
    margin-top: 75px;
    margin-left: 8px;
}

.floatElement{
    position: relative;
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 15px 0;
    color: white;
    display: grid;
    place-items: center;
    z-index: 0;
    opacity: 0;
    cursor: pointer;
    user-select: none;
}

.floatElement:nth-child(1){
    background-color: #42A5F5;
    box-shadow: 0 20px 20px -10px rgba(66, 165, 245, 0.5);
}

.floatElement:nth-child(2){
    background-color: #4CAF50;
    box-shadow: 0 20px 20px -10px rgba(76, 175, 80, 0.5);
}

.floatElement:nth-child(3){
    background-color: #FF9800;
    box-shadow: 0 20px 20px -10px rgba(255, 152, 0, 0.5);
}

@keyframes come-in{
    0%{
        opacity: 0;
    }
    30%{
        transform: translateX(-50px) scale(0.4);
    }
    70%{
        transform: translateX(0) scale(1.2);
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.floatingContainer:hover .elementContainer .floatElement:nth-child(1){
    animation: come-in 0.4s forwards 0.2s;
}

.floatingContainer:hover .elementContainer .floatElement:nth-child(2){
    animation: come-in 0.4s forwards 0.4s;
}

.floatingContainer:hover .elementContainer .floatElement:nth-child(3){
    animation: come-in 0.4s forwards 0.6s;
}
