.secondHand {
  height: 50%;
  width: 0px;
  position: relative;
  top: 0px;
  left: 50%;
  transform-origin: bottom;
  border: 1px solid black;
}

.secondHandAnimation {
  animation: secondHandMotion 60s infinite linear;
}

@keyframes secondHandMotion {
  0% {
    transform: rotate(var(--sec-rot-start));
  }
  100% {
    transform: rotate(var(--sec-rot-end));
  }
}