.secondHandAnimation {
  animation: secondHandMotion 60s infinite linear;
}

@keyframes secondHandMotion {
  0% {
    transform: rotate(var(--sec-rot-start));
  }
  100% {
    transform: rotate(var(--sec-rot-end));
  }
}