.secondsHand {
  height: 50%;
  width: 0px;
  position: relative;
  top: 0px;
  left: 50%;
  transform-origin: bottom;
  border: 1px solid black;
}

.secondsHandAnimation {
  animation: secondsHandMotion 60s infinite linear;
}

@keyframes secondsHandMotion {
  0% {
    transform: rotate(var(--sec-rot-start));
  }
  100% {
    transform: rotate(var(--sec-rot-end));
  }
}